extends layout

block content
    div(class="container text-center")
        h1(class='') Energy Lamp

        img(src="/images/lampon.png", alt="lampoff", srcset="")#lamp
        

block scripts
    script(src="/js/main.js")

    
    